/.idea/
/Task4/arkpz-pzpi-22-8-petrenko-kyrylo-task4/.vs/
/Task4/arkpz-pzpi-22-8-petrenko-kyrylo-task4/bin/
/Task4/arkpz-pzpi-22-8-petrenko-kyrylo-task4/obj/
/Task4/arkpz-pzpi-22-8-petrenko-kyrylo-task4/packages/
